@page "/"
@using OnlineCalculator.Constants
@using OnlineCalculator.Extensions
@implements IDisposable
@inject CalculatorScreenValueContainer CalculatorScreenValueContainer
@inject CalculationAnswerContainer CalculationAnswerContainer

<PageTitle>Math - Calculator</PageTitle>



<div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center px-5 py-5">
    <div class="w-full mx-auto rounded-xl bg-gray-100 shadow-xl text-gray-800 relative overflow-hidden" style="max-width:300px">
        <div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex flex-col text-right">
            <div style="overflow-y: auto; scrollbar-width: thin;" class="w-full py-3 px-6 text-3xl text-white font-thin break-words">@CalculatorScreenValueContainer.Property</div>
            <div class="w-full py-2 px-6 text-6xl text-white font-thin">@CalculationAnswerContainer.Property</div>
        </div>
        <div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
            <div class="flex w-full">
                <ButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Clear)"/>
                <ButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Exponential)"/>
                <ButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.SquareRoot)"/>
                <ButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Division)"/>
            </div>
            <div class="flex w-full">
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Seven)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Eight)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Nine)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Multiplication)"/>
            </div>
            <div class="flex w-full">
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Four)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Five)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Six)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Subtraction)"/>
            </div>
            <div class="flex w-full">
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.One)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Two)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Three)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Addition)"/>
            </div>
            <div class="flex w-full">
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.Zero)"/>
                <NumberButtonComponent Content="@EnumerationUtility.GetEnumDescription(CalculatorComponents.DecimalPoint)"/>
                <EqualButtonComponent></EqualButtonComponent>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        CalculatorScreenValueContainer.OnChange += StateHasChanged;
        CalculationAnswerContainer.OnChange += StateHasChanged;
    }
    

    public void Dispose()
    {
        CalculatorScreenValueContainer.OnChange -= StateHasChanged;
        CalculationAnswerContainer.OnChange -= StateHasChanged;
    }
}
